.dark {
  background-color: #121212;
  color: #ffffff;
}

h1 {
  color: #ffa500;
}

#modal_content {
  background-color: #0f0f0f !important;
}

.card {
  width: auto;
  max-height: 60px;
  background: none;
}

.modal-dialog {
  max-width: 760px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100vh;
  width: 100vw;
}

.grid-item {
  border: 1px solid #ccc; /* Cambia el color del borde según tu preferencia */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.btn-card {
  position: absolute;
  right: 0;
  bottom: 0;
}